

Select @Setor, @Cod_Ind 

Select * from validasmart.dbo.setores
select * from stratws.dbo.indicadores where nome like '%MAT/MED%' and nome like '%SUS%'

UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 147	WHERE idx = 1 --Cirurgia
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 149	WHERE idx = 2 --Consultas
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 151	WHERE idx = 3 --Exames
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 152	WHERE idx = 4 --Excimer
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 153	WHERE idx = 5 --Lentes
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 677	WHERE idx = 6 --Jardins - Consultas
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 696	WHERE idx = 7 --Jardins - Exames
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 709	WHERE idx = 8 --Jardins - Lentes
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 383	WHERE idx = 9 --Focus - Consultas
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 401	WHERE idx = 10 --Focus - Exames
UPDATE validasmart.DBO.setores SET cod_ind_MatMed = 417	WHERE idx = 11 --Focus - Lentes

select idindicadoressimples, idindicador, replace(cast(valor as numeric(10,2)),'.',','), data, DateUpdated from stratws.dbo.indicadoressimples 
where data > '2016-04-01' and idindicador in 

(157,
158,
159,
680,
699,
389,
407)