
/*DECLARACAO DE VARIAVEIS*/
Declare @Mes int
Declare @Ano int
Declare @Setor nvarchar(50)
Declare @Cod_Setores nvarchar(500)

Declare @Titulo Varchar(255)
Declare @Caminho Varchar(max)
Declare @Comando1 nvarchar(max)

Select @Setor = Nome, @Cod_Setores = Cod_Setores from validasmart.dbo.setores where idx = 3
Set @Titulo = '2016 - Exames HON.xls'
Set @Caminho = 'D:\Extratos\'+@Titulo
Set @Comando1 = 
'create table #tempteste (idx int identity(1,1),cod_setor varchar(5))
set identity_insert #tempteste on
Insert into #tempteste (idx, cod_setor) select * from StringToTable('''+@Cod_Setores+''','','')

SELECT O.OSM_SERIE "Série", O.OSM_NUM "Número", I.SMM_SFAT "Status Fat", convert(varchar(2),month(o.OSM_DTHR))+''/''+convert(varchar(4),year(o.OSM_DTHR)) as "MÊS/ANO", I.SMM_COD "Código", 
		P.SMK_NOME "Descrição", i.smm_med "CRM", crm.psv_nome "Prestador", C.CNV_NOME "Convênio", I.SMM_TIPO_FATURA Tipo, C.CNV_CAIXA_FATURA,
		I.SMM_QT "Qtd.", ''R$ ''+replace(cast(i.smm_vlr as numeric(10,2)),''.'','','') Valor,  ''R$ ''+replace(cast(isnull(I.SMM_AJUSTE_VLR,0) as numeric(10,2)),''.'','','') Desconto, ''R$ ''+replace(cast((i.smm_vlr + isnull(I.SMM_AJUSTE_VLR,0)) as numeric(10,2)),''.'','','') Valor_Pago,
		i.smm_usr_login_lanc Usuário, H.HON_SEQ "Rateio No.",

cc1.ccr_tit "Med Exec", isnull(h.hon_cc1, ''99999'') "Conta Med Exec", replace(cast(h.hon_pc1 as numeric(10,2)),''.'','','')+''%'' "% Rat Med Exec", ''R$ ''+replace(cast(h.hon_vl1 as numeric(10,2)),''.'','','') "R$ Rat Med Exec",
cc2.ccr_tit "Med Aux", isnull(h.hon_cc2, ''99999'') "Conta Med Aux", replace(cast(h.hon_pc2 as numeric(10,2)),''.'','','')+''%'' "% Rat Med Aux", ''R$ ''+replace(cast(h.hon_vl2 as numeric(10,2)),''.'','','') "R$ Rat Med Aux",
cc6.ccr_tit "Med solic", isnull(h.hon_cc6, ''99999'') "Conta Med solic", replace(cast(h.hon_pc6 as numeric(10,2)),''.'','','')+''%'' "% Rat Med solic", ''R$''+replace(cast(h.hon_vl6 as numeric(10,2)),''.'','','') "R$ Rat Med solic",

replace(cast(
			(((ISNULL(H.HON_PC1,0)*(I.SMM_VLR - (ISNULL(H.HON_VL1,0) + ISNULL(H.HON_VL2,0) + ISNULL(H.HON_VL3,0) + ISNULL(H.HON_VL4,0) + ISNULL(H.HON_VL5,0) + ISNULL(H.HON_VL6,0)))/100)+(ISNULL(H.HON_VL1,0))))+
			(((ISNULL(H.HON_PC2,0)*(I.SMM_VLR - (ISNULL(H.HON_VL1,0) + ISNULL(H.HON_VL2,0) + ISNULL(H.HON_VL3,0) + ISNULL(H.HON_VL4,0) + ISNULL(H.HON_VL5,0) + ISNULL(H.HON_VL6,0)))/100)+(ISNULL(H.HON_VL2,0))))+
			(((ISNULL(H.HON_PC6,0)*(I.SMM_VLR - (ISNULL(H.HON_VL1,0) + ISNULL(H.HON_VL2,0) + ISNULL(H.HON_VL3,0) + ISNULL(H.HON_VL4,0) + ISNULL(H.HON_VL5,0) + ISNULL(H.HON_VL6,0)))/100)+(ISNULL(H.HON_VL6,0)))) 
 as numeric(10,3)),''.'','','') "Total Pag Hon R$"

from osm as o
inner join smm as i on I.SMM_OSM = O.OSM_NUM AND I.SMM_OSM_SERIE = O.OSM_SERIE	
inner join hon as h on I.SMM_HON_SEQ = H.HON_SEQ
inner join ccr as cc1 on cc1.ccr_cod = isnull(h.hon_cc1, ''99999'')
inner join ccr as cc2 on cc2.ccr_cod = isnull(h.hon_cc2, ''99999'')
inner join ccr as cc6 on cc6.ccr_cod = isnull(h.hon_cc6, ''99999'')
inner join SMK as P on I.SMM_COD = P.SMK_COD AND I.SMM_TPCOD = P.SMK_TIPO
inner join CNV as C on O.OSM_CNV = C.CNV_COD 	
inner join psv crm on crm.psv_cod = i.smm_med		

			WHERE  I.SMM_SFAT in (''F'', ''P'')
				and (i.smm_pacote = ''C'' or i.smm_pacote is null)
				AND C.CNV_CAIXA_FATURA in (''F'', ''C'') 
				AND SMM_PAC_REG NOT IN (SELECT PAC_REG FROM PAC WHERE PAC_NOME LIKE ''%TESTE %'')

				AND O.OSM_DTHR >= ''2016-01-01 00:00'' 
				AND O.OSM_DTHR <= ''2016-06-01 00:00''
				AND I.SMM_STR in (select cod_setor from #tempteste)
				
order by smm_osm_serie, smm_osm

drop table #tempteste'

EXEC sp_makewebtask 
	@outputfile = @Caminho,  
	@colheaders =1, 
	@FixedFont=0,@lastupdated=0,@resultstitle=@Titulo,
	@query = @Comando1
