
SELECT v.mma_sma_serie "Solic Serie", v.mma_sma_num as "No.Solic", sma_data as "Data Solic", s.sma_usr_login_sol as "Usr. Solic.", al.sba_nome as "Almoxarifado",
				V.MMA_MAT_COD AS "Cod Mat", M.MAT_DESC_COMPLETA AS "Desc Mat", v.mma_serie "Mov. Serie ", v.mma_num "Mov. No.", V.MMA_DATA_MOV AS "Mov. Data Hora", V.MMA_TIPO_OPERACAO "Mov. Tipo", V.MMA_STR_COD AS "Setor", 
				replace(cast(V.MMA_VLR_PM as numeric(10,2)),'.',',') AS "Valor Unit.", V.MMA_QTD AS "Qtd", 
				replace(cast(ISNULL(V.MMA_VLR_PM * V.MMA_QTD,0) as numeric(10,2)),'.',',') AS "Valor TT", 
				mma_usr_login as "Usr. Resp" 

				FROM MMA V
				inner join MAT M on V.MMA_MAT_COD = M.MAT_COD
				inner join sba al on v.mma_sba_cod = al.sba_cod
				left join sma s on v.mma_sma_serie = sma_serie and v.mma_sma_num = sma_num

			WHERE 
			V.MMA_TIPO_ES = 'E'			
			AND V.MMA_TIPO_OPERACAO in ('E3')				
			AND M.MAT_GMM_COD not in (1,2,4,6,19,17,25,26,27,28,29)
			--AND
			and V.MMA_DATA_MOV >= '2016-01-01 00:00'
			--AND YEAR(V.MMA_DATA_MOV) = '+convert(varchar(4),@Ano)+'
			AND V.MMA_MAT_COD IN ('20096')
/*
'21434',
'21548',
'21591',
'21737',
'21898',

'21787',
'21844',
'21950',
'21496',
'21735',
'21611',
'21443',
'21601',
'21520',
'21785',
'21827',
'21952'
)*/

ORDER BY V.MMA_MAT_COD, V.MMA_DATA_MOV	

