USE [smart]

Declare @Titulo Varchar(255)
Declare @Caminho Varchar(max)
Declare @Comando1 nvarchar(max)

Set @Titulo = '2016 HOS VOL Cort.xls'
Set @Caminho = 'D:\Extratos\'+@Titulo
Set @Comando1 = 
'
select i.smm_osm_serie "OS Serie", i.smm_osm "OS Num", i.smm_sfat "Status Fat", i.smm_str "Cod. Setor", s.str_nome "Setor", CTF.CTF_NOME Classe_Servico, CFO.CFO_NOME Classe_Financeiro, 
	i.SMM_COD , p.SMK_NOME, i.smm_qt Qtd, pac.pac_reg, pac.pac_nome, i.smm_med "CRM", crm.psv_nome "Prestador", o.osm_cnv "Cod. Conv.", c.cnv_nome "Convenio", c.CNV_CAIXA_FATURA "Cobraca",
	convert(varchar(2),month(o.OSM_DTHR))+''/''+convert(varchar(4),year(o.OSM_DTHR)) as "MÊS/ANO", convert(varchar, o.OSM_DTHR, 103) Data, convert(varchar, o.OSM_DTHR, 108) Hora, 
 ''R$ ''+replace(cast(i.smm_vlr as numeric(10,2)),''.'','','') Valor, i.smm_usr_login_lanc Usuário

from  smm i
inner join osm o on o.osm_serie = i.smm_osm_serie and o.osm_num = i.smm_osm
inner join psv crm on crm.psv_cod = i.smm_med 
inner join str s on s.str_cod = i.smm_str
inner join cnv c on o.osm_cnv = c.cnv_cod
inner join smk p on i.SMM_COD = p.SMK_COD	AND i.SMM_TPCOD = p.SMK_TIPO
INNER JOIN CTF ON CTF.CTF_COD = SMK_CTF 
INNER JOIN CFO ON CFO.CFO_COD = CTF.CTF_CFO_COD
inner join pac on i.smm_pac_reg = pac.pac_reg

			WHERE  I.SMM_SFAT <> ''C''
			and (i.smm_pacote = ''C'' or i.smm_pacote is null)
			AND C.CNV_CAIXA_FATURA = ''B'' 
			AND P.SMK_CTF in (''5039'',''6014'',''5020'',''0001'',''5052'',''6012'',''5001'',''5050'',''5016'',''5024'',''6013'',''6006'',''5053'',''6015'')
			AND SMM_PAC_REG NOT IN (SELECT PAC_REG FROM PAC WHERE PAC_NOME LIKE ''%TESTE %'')
			
			AND YEAR(O.OSM_DTHR) = ''2016'' 
			AND I.SMM_STR in (''CC'',''C1'',''C2'',''C3'',''C4'',''C5'',''C6'',''CAS'',''CTD'',''CFR'',''CMU'',''CN1'',''CU1'',''CU2'',''GON'',''PC2'',''PR1'',''TS'',''CN2'',''CN3'',''CN4'',''CN5'',''CN6'',''CN7'',''PR3'',''ARG'',''ART'',''AVL'',''CV'',''PAQ'',''ECO'',''ERG'',''MIC'',''OCT'',''OPD'',''OCV'',''OCZ'',''OR'',''RET'',''REX'',''TOP'',''TPZ'',''US'',''VER'',''YAG'',''EXL'',''SLC'',''PRO'',''LCV'',''JCO'',''JCH'',''JCM'',''JSC'',''JEX'',''JHE'',''JLC'')	

order by smm_osm_serie, smm_osm
'

EXEC sp_makewebtask 
	@outputfile = @Caminho,  
	@colheaders =1, 
	@FixedFont=0,@lastupdated=0,@resultstitle=@Titulo,
	@query = @Comando1
