Declare @Titulo Varchar(255)
Declare @Caminho Varchar(max)
Declare @Comando1 nvarchar(max)

Set @Titulo = '2016 HOS MatMed Devolucoes.xls'
Set @Caminho = 'D:\Extratos\'+@Titulo

Set @Comando1 = 
'
SELECT v.mma_sma_serie "Solic Serie", v.mma_sma_num as "No.Solic", sma_data as "Data Solic", s.sma_usr_login_sol as "Usr. Solic.", al.sba_nome as "Almoxarifado",
				V.MMA_MAT_COD AS "Cod Mat", M.MAT_DESC_COMPLETA AS "Desc Mat", v.mma_serie "Mov. Serie ", v.mma_num "Mov. No.", 
				convert(varchar(2),month(V.MMA_DATA_MOV))+''/''+convert(varchar(4),year(V.MMA_DATA_MOV)) as "MÊS/ANO", V.MMA_DATA_MOV AS "Mov. Data Hora", V.MMA_TIPO_OPERACAO "Mov. Tipo", 
				V.MMA_STR_COD AS "Cod Setor", vs.Nome "Nome Setor",
				replace(cast(V.MMA_VLR_PM as numeric(10,2)),''.'','','') AS "Valor Unit.", V.MMA_QTD AS "Qtd", 
				replace(cast(ISNULL(V.MMA_VLR_PM * V.MMA_QTD,0) as numeric(10,2)),''.'','','') AS "Valor TT", 
				mma_usr_login as "Usr. Resp" 

				FROM MMA V
				inner join MAT M on V.MMA_MAT_COD = M.MAT_COD
				inner join sba al on v.mma_sba_cod = al.sba_cod
				left join sma s on v.mma_sma_serie = sma_serie and v.mma_sma_num = sma_num
				inner join validasmart.dbo.setores vs on V.MMA_STR_COD in (vs.cod_setores)

			WHERE V.MMA_TIPO_ES = ''E''		
			AND V.MMA_TIPO_OPERACAO = ''E4''				
			AND M.MAT_GMM_COD not in (1,2,4,6,19,17,25,26,27,28,29)
			
			AND YEAR(V.MMA_DATA_MOV) = ''2016'' 
			AND V.MMA_STR_COD in (''CC'',''C1'',''C2'',''C3'',''C4'',''C5'',''C6'',''CAS'',''CTD'',''CFR'',''CMU'',''CN1'',''CU1'',''CU2'',''GON'',''PC2'',''PR1'',''TS'',''CN2'',''CN3'',''CN4'',''CN5'',''CN6'',''CN7'',''PR3'',''ARG'',''ART'',''AVL'',''CV'',''PAQ'',''ECO'',''ERG'',''MIC'',''OCT'',''OPD'',''OCV'',''OCZ'',''OR'',''RET'',''REX'',''TOP'',''TPZ'',''US'',''VER'',''YAG'',''EXL'',''SLC'',''PRO'',''LCV'',''JCO'',''JCH'',''JCM'',''JSC'',''JEX'',''JHE'',''JLC'')	
		

ORDER BY V.MMA_num	
'

--SELECT @COMANDO1

EXEC sp_makewebtask 
	@outputfile = @Caminho,  
	@colheaders =1, 
	@FixedFont=0,@lastupdated=0,@resultstitle=@Titulo,
	@query = @Comando1
