USE [smart]

Declare @Titulo Varchar(255)
Declare @Caminho Varchar(max)
Declare @Comando1 nvarchar(max)

Set @Titulo = '2015 HOS VOL Part.xls'
Set @Caminho = 'D:\Extratos\'+@Titulo
Set @Comando1 = 
'
SELECT O.OSM_SERIE "Série", O.OSM_NUM "Número", I.SMM_SFAT "Status Fat", convert(varchar(2),month(o.OSM_DTHR))+''/''+convert(varchar(4),year(o.OSM_DTHR)) as "MÊS/ANO", convert(varchar, o.OSM_DTHR, 103) Data, convert(varchar, o.OSM_DTHR, 108) Hora, 
	CTF.CTF_NOME Classe_Servico, CFO.CFO_NOME Classe_Financeiro, I.SMM_COD "Código", 
		P.SMK_NOME "Descrição", pac.pac_reg Registro, pac.pac_nome Paciente, i.smm_med "CRM", crm.psv_nome "Prestador", C.CNV_NOME "Convênio", 
		I.SMM_QT "Qtd.", ''R$ ''+replace(cast(i.smm_vlr as numeric(10,2)),''.'','','') Valor,  ''R$ ''+replace(cast(I.SMM_AJUSTE_VLR as numeric(10,2)),''.'','','') Desconto, ''R$ ''+replace(cast((i.smm_vlr + I.SMM_AJUSTE_VLR) as numeric(10,2)),''.'','','') Valor_Pago,
		i.smm_usr_login_lanc Usuário, H.HON_SEQ "Rateio No."

from osm as o
inner join smm as i on I.SMM_OSM = O.OSM_NUM AND I.SMM_OSM_SERIE = O.OSM_SERIE	
inner join hon as h on I.SMM_HON_SEQ = H.HON_SEQ
inner join SMK as P on I.SMM_COD = P.SMK_COD AND I.SMM_TPCOD = P.SMK_TIPO
INNER JOIN CTF ON CTF.CTF_COD = SMK_CTF 
INNER JOIN CFO ON CFO.CFO_COD = CTF.CTF_CFO_COD
inner join CNV as C on O.OSM_CNV = C.CNV_COD 	
inner join psv crm on crm.psv_cod = i.smm_med		
inner join mte m on M.MTE_OSM_SERIE = O.OSM_SERIE AND M.MTE_OSM = O.OSM_NUM
inner join pac on i.smm_pac_reg = pac.pac_reg

			WHERE  I.SMM_SFAT in (''F'', ''P'')
				and (i.smm_pacote = ''C'' or i.smm_pacote is null)
				AND C.CNV_CAIXA_FATURA = ''C'' 
				AND SMM_PAC_REG NOT IN (SELECT PAC_REG FROM PAC WHERE PAC_NOME LIKE ''%TESTE %'')
				AND M.MTE_STATUS = ''D''
						 
				AND P.SMK_CTF in (''5039'',''6014'',''5020'',''0001'',''5052'',''6012'',''5001'',''5050'',''5016'',''5024'',''6013'',''6006'',''5053'',''6015'')
							
			AND YEAR(O.OSM_DTHR) = ''2015'' 
			AND I.SMM_STR in (''CC'',''C1'',''C2'',''C3'',''C4'',''C5'',''C6'',''CAS'',''CTD'',''CFR'',''CMU'',''CN1'',''CU1'',''CU2'',''GON'',''PC2'',''PR1'',''TS'',''CN2'',''CN3'',''CN4'',''CN5'',''CN6'',''CN7'',''PR3'',''ARG'',''ART'',''AVL'',''CV'',''PAQ'',''ECO'',''ERG'',''MIC'',''OCT'',''OPD'',''OCV'',''OCZ'',''OR'',''RET'',''REX'',''TOP'',''TPZ'',''US'',''VER'',''YAG'',''EXL'',''SLC'',''PRO'',''LCV'',''JCO'',''JCH'',''JCM'',''JSC'',''JEX'',''JHE'',''JLC'')	
				
order by smm_osm_serie, smm_osm
'
--select @Comando1

EXEC sp_makewebtask 
	@outputfile = @Caminho,  
	@colheaders =1, 
	@FixedFont=0,@lastupdated=0,@resultstitle=@Titulo,
	@query = @Comando1
