USE [smart]

Declare @Titulo Varchar(255)
Declare @Caminho Varchar(max)
Declare @Comando1 nvarchar(max)

Set @Titulo = '2016 HOS HON Part.xls'
Set @Caminho = 'D:\Extratos\'+@Titulo
Set @Comando1 = 
'
SELECT O.OSM_SERIE "Série", O.OSM_NUM "Número", I.SMM_SFAT "Status Fat", convert(varchar(2),month(o.OSM_DTHR))+''/''+convert(varchar(4),year(o.OSM_DTHR)) as "MÊS/ANO", convert(varchar, o.OSM_DTHR, 103) Data, convert(varchar, o.OSM_DTHR, 108) Hora, 
		CTF.CTF_NOME Classe_Servico, CFO.CFO_NOME Classe_Financeiro, I.SMM_COD "Código", P.SMK_NOME "Descrição", i.smm_med "CRM", crm.psv_nome "Prestador", C.CNV_NOME "Convênio", 
		I.SMM_QT "Qtd.", ''R$ ''+replace(cast(i.smm_vlr as numeric(10,2)),''.'','','') Valor,  ''R$ ''+replace(cast(isnull(I.SMM_AJUSTE_VLR,0) as numeric(10,2)),''.'','','') Desconto, ''R$ ''+replace(cast((i.smm_vlr + isnull(I.SMM_AJUSTE_VLR,0)) as numeric(10,2)),''.'','','') Valor_Pago,
		i.smm_usr_login_lanc Usuário, H.HON_SEQ "Rateio No.",

cc1.ccr_tit "Med Exec", isnull(h.hon_cc1, ''99999'') "Conta Med Exec", replace(cast(h.hon_pc1 as numeric(10,2)),''.'','','')+''%'' "% Rat Med Exec", ''R$ ''+replace(cast(h.hon_vl1 as numeric(10,2)),''.'','','') "R$ Rat Med Exec",
cc2.ccr_tit "Med Aux", isnull(h.hon_cc2, ''99999'') "Conta Med Aux", replace(cast(h.hon_pc2 as numeric(10,2)),''.'','','')+''%'' "% Rat Med Aux", ''R$ ''+replace(cast(h.hon_vl2 as numeric(10,2)),''.'','','') "R$ Rat Med Aux",
cc6.ccr_tit "Med solic", isnull(h.hon_cc6, ''99999'') "Conta Med solic", replace(cast(h.hon_pc6 as numeric(10,2)),''.'','','')+''%'' "% Rat Med solic", ''R$''+replace(cast(h.hon_vl6 as numeric(10,2)),''.'','','') "R$ Rat Med solic",

''R$ ''+replace(cast(
			((ISNULL(H.HON_PC1,0)*((I.SMM_VLR + isnull(I.SMM_AJUSTE_VLR,0)) - ((ISNULL(H.HON_VL1,0)*I.SMM_QT) + (ISNULL(H.HON_VL2,0)*I.SMM_QT) + (ISNULL(H.HON_VL3,0)*I.SMM_QT) + (ISNULL(H.HON_VL4,0)*I.SMM_QT) + (ISNULL(H.HON_VL5,0)*I.SMM_QT) + (ISNULL(H.HON_VL6,0)*I.SMM_QT)))/100)+((ISNULL(H.HON_VL1,0)*I.SMM_QT))
			+(ISNULL(H.HON_PC2,0)*((I.SMM_VLR + isnull(I.SMM_AJUSTE_VLR,0)) - ((ISNULL(H.HON_VL1,0)*I.SMM_QT) + (ISNULL(H.HON_VL2,0)*I.SMM_QT) + (ISNULL(H.HON_VL3,0)*I.SMM_QT) + (ISNULL(H.HON_VL4,0)*I.SMM_QT) + (ISNULL(H.HON_VL5,0)*I.SMM_QT) + (ISNULL(H.HON_VL6,0)*I.SMM_QT)))/100)+((ISNULL(H.HON_VL2,0)*I.SMM_QT))
			+(ISNULL(H.HON_PC6,0)*((I.SMM_VLR + isnull(I.SMM_AJUSTE_VLR,0)) - ((ISNULL(H.HON_VL1,0)*I.SMM_QT) + (ISNULL(H.HON_VL2,0)*I.SMM_QT) + (ISNULL(H.HON_VL3,0)*I.SMM_QT) + (ISNULL(H.HON_VL4,0)*I.SMM_QT) + (ISNULL(H.HON_VL5,0)*I.SMM_QT) + (ISNULL(H.HON_VL6,0)*I.SMM_QT)))/100)+((ISNULL(H.HON_VL6,0)*I.SMM_QT)))
as numeric(10,2)),''.'','','') "Total Hono Pago R$"

from osm as o
inner join smm as i on I.SMM_OSM = O.OSM_NUM AND I.SMM_OSM_SERIE = O.OSM_SERIE	
inner join hon as h on I.SMM_HON_SEQ = H.HON_SEQ
inner join ccr as cc1 on cc1.ccr_cod = isnull(h.hon_cc1, ''99999'')
inner join ccr as cc2 on cc2.ccr_cod = isnull(h.hon_cc2, ''99999'')
inner join ccr as cc6 on cc6.ccr_cod = isnull(h.hon_cc6, ''99999'')
inner join SMK as P on I.SMM_COD = P.SMK_COD AND I.SMM_TPCOD = P.SMK_TIPO
INNER JOIN CTF ON CTF.CTF_COD = SMK_CTF 
INNER JOIN CFO ON CFO.CFO_COD = CTF.CTF_CFO_COD
inner join CNV as C on O.OSM_CNV = C.CNV_COD 	
inner join psv crm on crm.psv_cod = i.smm_med		
inner join mte m on M.MTE_OSM_SERIE = O.OSM_SERIE AND M.MTE_OSM = O.OSM_NUM

			WHERE  I.SMM_SFAT in (''F'', ''P'')
				and (i.smm_pacote = ''C'' or i.smm_pacote is null)
				AND C.CNV_CAIXA_FATURA = ''C'' 
				AND SMM_PAC_REG NOT IN (SELECT PAC_REG FROM PAC WHERE PAC_NOME LIKE ''%TESTE %'')
				AND M.MTE_STATUS = ''D''

			AND YEAR(O.OSM_DTHR) = ''2016'' 
			AND I.SMM_STR in (''CC'',''C1'',''C2'',''C3'',''C4'',''C5'',''C6'',''CAS'',''CTD'',''CFR'',''CMU'',''CN1'',''CU1'',''CU2'',''GON'',''PC2'',''PR1'',''TS'',''CN2'',''CN3'',''CN4'',''CN5'',''CN6'',''CN7'',''PR3'',''ARG'',''ART'',''AVL'',''CV'',''PAQ'',''ECO'',''ERG'',''MIC'',''OCT'',''OPD'',''OCV'',''OCZ'',''OR'',''RET'',''REX'',''TOP'',''TPZ'',''US'',''VER'',''YAG'',''EXL'',''SLC'',''PRO'',''LCV'',''JCO'',''JCH'',''JCM'',''JSC'',''JEX'',''JHE'',''JLC'')	
		
			and (ISNULL(H.HON_PC1,0) + ISNULL(H.HON_PC2,0) + ISNULL(H.HON_PC6,0) +  ISNULL(H.HON_VL1,0) + ISNULL(H.HON_VL2,0) + ISNULL(H.HON_VL6,0)) <> 0

order by smm_osm_serie, smm_osm
'

EXEC sp_makewebtask 
	@outputfile = @Caminho,  
	@colheaders =1, 
	@FixedFont=0,@lastupdated=0,@resultstitle=@Titulo,
	@query = @Comando1
